[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
easytello = {editable = true,path = "."}
mypy = "*"
pycodestyle = "*"
pytest = "*"
rope = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"

[packages]

[requires]
python_version = "3.8"
